amqp==5.1.1
asgiref==3.5.2
attrs==21.4.0
autobahn==22.5.1
Automat==20.2.0
billiard==3.6.4.0
celery==5.2.6
certifi==2022.6.15
cffi==1.15.0
channels==3.0.4
charset-normalizer==2.0.12
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
constantly==15.1.0
cryptography==37.0.2
daphne==3.0.2
Django==4.0.5
et-xmlfile==1.1.0
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
kombu==5.2.4
numpy==1.22.4
openai==0.20.0
openpyxl==3.0.10
pandas==1.4.2
pandas-stubs==1.2.0.61
prompt-toolkit==3.0.29
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyOpenSSL==22.0.0
python-dateutil==2.8.2
python-decouple==3.6
python-dotenv==0.20.0
pytz==2022.1
requests==2.28.0
service-identity==21.1.0
six==1.16.0
sqlparse==0.4.2
tqdm==4.64.0
Twisted==22.4.0
txaio==22.2.1
typing_extensions==4.2.0
urllib3==1.26.9
vine==5.0.0
wcwidth==0.2.5
zope.interface==5.4.0
